<div class="col-xs-10 col-xs-offset-1">
  <h1 style="text-align:center">添加商品</h1>
  <form class="form-horizontal" role="form" style="margin:40px 0 30px 0;">
    <div class="form-group">
      <label class="col-xs-2 control-label">商品id</label>
      <div class="col-xs-10">
        <input type="text" class="form-control"  placeholder="id" ng-model="addgood.id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">商品名称</label>
      <div class="col-xs-10">
        <input type="text" class="form-control"  placeholder="name" ng-model="addgood.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">图片地址</label>
      <div class="col-xs-10">
        <input type="text" class="form-control"  placeholder="eg：img/main1.jpg" ng-model="addgood.imgsrc">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">单价</label>
      <div class="col-xs-10">
        <input type="text" class="form-control"  placeholder="per Price" ng-model="addgood.price">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">库存</label>
      <div class="col-xs-10">
        <input type="text" class="form-control"  placeholder="count" ng-model="addgood.count">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button ng-click="add()" type="button" class="btn btn-success">确认添加</button>
      </div>
    </div>
  </form>
  <!-- 添加失败模态框 -->
  <div class="modal fade" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">错误提示</h4>
        </div>
        <div class="modal-body">
          <p>该商品id已存在，请重新输入</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- 添加成功模态框 -->
  <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">成功</h4>
        </div>
        <div class="modal-body">
          <p>商品 {{addgood.id}} 已成功添加！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
