<div class="col-xs-10 col-xs-offset-1">
  <h2 style="text-align:center;">商品搜索</h2>
  <div class="row" style="margin: 50px 0 20px 0;">
    <form class="col-xs-4 col-xs-offset-4">
      <div class="form-group col-xs-9">
        <input type="text" class="form-control" placeholder="请输入商品id" ng-model="value">
      </div>
      <button ng-click="search()" type="button" class="btn btn-default col-xs-3"><span class="glyphicon glyphicon-search"></span>查找</button>
    </form>
  </div>

  <table ng-hide="notseen" class="table table-bordered table-hover" style="text-align:center">
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>图片</th>
      <th>单价</th>
      <th>库存</th>
      <th colspan="2">编辑</th>
    </tr>
    <tr>
      <td>
        <div ng-show="edit">{{agood.id}}</div>
        <input class="form-control" ng-hide="edit" ng-model="agood.id">
      </td>
      <td>
        <div ng-show="edit">{{agood.name}}</div>
        <input class="form-control" ng-hide="edit" ng-model="agood.name">
      </td>
      <td>
        <img ng-show="edit" src={{agood.imgsrc}} style="width:50px;height:40px;">
        <input class="form-control" ng-hide="edit" ng-model="agood.imgsrc">
      </td>
      <td>
        <div ng-show="edit">{{agood.price | currency:'￥'}}</div>
        <input class="form-control" ng-hide="edit" ng-model="agood.price">
      </td>
      <td>
        <div ng-show="edit">{{agood.count}}</div>
        <input class="form-control" ng-hide="edit" ng-model="agood.count">
      </td>
      <td>
        <button ng-show="edit" ng-click="alter()" type="button" class="btn btn-primary">修改</button>
        <button ng-hide="edit" ng-click="save()" type="button" class="btn btn-success">完成</button>
      </td>
      <td><button ng-click="del()" type="button" class="btn btn-danger">删除</button></td>
    </tr>
  </table>

  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">错误提示</h4>
        </div>
        <div class="modal-body">
          <p>该商品不存在！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
