<div class="col-xs-10 col-xs-offset-1">
  <h2 style="text-align:center;">用户搜索</h2>
  <div class="row" style="margin: 50px 0 20px 0;">
    <form class="col-xs-4 col-xs-offset-4">
      <div class="form-group col-xs-9">
        <input type="text" class="form-control" placeholder="请输入用户id" ng-model="value">
      </div>
      <button ng-click="search()" type="button" class="btn btn-default col-xs-3"><span class="glyphicon glyphicon-search"></span>查找</button>
    </form>
  </div>

  <table ng-hide="notseen" class="table table-bordered table-hover" style="text-align:center">
    <tr>
      <th>id</th>
      <th>用户名</th>
      <th>会员等级</th>
      <th>用户密码</th>
      <th>邮箱</th>
      <th colspan="2">编辑</th>
    </tr>
    <tr>
      <td>
        <div ng-show="edit">{{user.userid}}</div>
        <input class="form-control" ng-hide="edit" ng-model="user.userid">
      </td>
      <td>
        <div ng-show="edit">{{user.username}}</div>
        <input class="form-control" ng-hide="edit" ng-model="user.username">
      </td>
      <td>
        <div ng-show="edit">{{user.usertype}}</div>
        <input class="form-control" ng-hide="edit" ng-model="user.usertype">
      </td>
      <td>
        <div ng-show="edit">{{user.userpass}}</div>
        <input class="form-control" ng-hide="edit" ng-model="user.userpass">
      </td>
      <td>
        <div ng-show="edit">{{user.email}}</div>
        <input class="form-control" ng-hide="edit" ng-model="user.email">
      </td>
      <td>
        <button ng-show="edit" ng-click="alter()" type="button" class="btn btn-primary">修改</button>
        <button ng-hide="edit" ng-click="save()" type="button" class="btn btn-success">完成</button>
      </td>
      <td><button ng-click="del()" type="button" class="btn btn-danger">删除</button></td>
    </tr>
  </table>

  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">错误提示</h4>
        </div>
        <div class="modal-body">
          <p>该用户不存在！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- 登录模态框 -->
     <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span><tton>
             <h4 class="modal-title" id="myModalLabel">欢迎登录</h4>
           </div>
           <div class="modal-body">
             <form class="form-horizontal" role="form">
               <div class="form-group">
                 <label for="username" class="col-sm-2 control-label">姓名</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" id="username" placeholder="uername" ng-model="admin.name">
                 </div>
               </div>
               <div class="form-group">
                 <label for="userpass" class="col-sm-2 control-label">密码</label>
                 <div class="col-sm-10">
                   <input type="password" class="form-control" id="userpass" placeholder="Password" ng-model="admin.pass">
                 </div>
               </div>
               <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> Remember me
                     </label>
                   </div>
                 </div>
               </div>
             </form>

           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-success" ng-click="login()" data-dismiss="modal">登录<tton>
             <button type="button" class="btn btn-warning" data-dismiss="modal">取消<tton>
           </div>
         </div>
       </div>
     </div>
</div>
